<header class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <!-- Logo o título de la aplicación -->
    <a href="/" class="flex items-center">
      <img src="assets/img/logo_storylinematch.png" alt="StorylineMatch Logo"  style="height: 150px; width: auto;">
    </a>
    
    <!-- Sección de iconos -->
    <div class="flex items-center">
      <!-- Icono de corazón para películas favoritas -->
      <a href="/favoritas" class="flex items-center hover:text-red-500 mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 18.364A9.003 9.003 0 0121 12.5a9.003 9.003 0 01-15.879 5.864M21 12.5a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
        </svg>
        <span class="hidden sm:block ml-1">Favoritas</span>
      </a>
      <!-- Icono de lista para búsquedas marcadas -->
      <a href="/busquedas" class="flex items-center hover:text-blue-500 mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
        <span class="hidden sm:block ml-1">Búsquedas</span>
      </a>
      <!-- Avatar del usuario -->
      <a href="/perfil" class="flex items-center hover:text-green-500 mx-2">
        <img src="/path-to-avatar.jpg" alt="Avatar" class="h-8 w-8 rounded-full">
      </a>
    </div>
  </div>
</header>
