<!-- Formulario login -->
<div class="container mx-auto p-8">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
      <div class="md:flex">
        <div class="w-full p-5">
          <div class="text-center">
            <h1 class="text-2xl font-bold">Login</h1>
          </div>
          <!-- <form (submit)="loginUser()"> -->
            <form (submit)="login(username.value, password.value)">
            <div class="flex flex-col mb-4">
              <label class="mb-2 font-bold text-lg text-gray-900" for="username">Usuario</label>
              <input [(ngModel)]="loginData.username" #username class="border py-2 px-3 text-grey-800" type="text" name="username" id="username">
            </div>
            <div class="flex flex-col mb-6">
              <label class="mb-2 font-bold text-lg text-gray-900" for="password">Contraseña</label>
              <input [(ngModel)]="loginData.password" #password class="border py-2 px-3 text-grey-800" type="password" name="password" id="password">
            </div>
            <button class="block bg-blue-500 hover:bg-blue-600 text-white uppercase text-lg mx-auto p-4 rounded" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
